*{
	margin:0px;
	padding:0px;
}
body{
	font-size:120%;
	background:#F8F8FF;
}
.header
{
	width:30%;
	margin:30px auto 0px;
	color:white;
	background:#5F9EA0;
	text-align:center;
	border:1px solid #B0C4DE;
	border-bottom:none;
	border-radius:10px 10px 0px 0px;
	padding:20px;
	
}
.table
{
	width:40%;
	margin:0px auto 0px;
	color:black;
	
	text-align:center;
	
	border-bottom:none;
	border-radius:10px 10px 0px 0px;
	padding:20px;
}